{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Savoro App</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <style>
        .errorlist {
            color: #F44336 !important;
        }

        .brand-logo img {
            height: 50px;
            vertical-align: middle;
            margin-right: 10px;
        }
    </style>

    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'restaurant:index' %}" class="brand-logo"><img
                    src="{% static 'images/logo.png' %}" alt="Logo"></a>
            {% if request.user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'restaurant:index' %}">Platos</a></li>
                <li><a href="{% url 'restaurant:category_list' %}">Categorías</a></li>
                <li><a href="{% url 'restaurant:logout' %}">Salir</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="{% url 'restaurant:index' %}">Platos</a></li>
                <li><a href="{% url 'restaurant:category_list' %}">Categorías</a></li>
                <li><a href="{% url 'restaurant:logout' %}">Salir</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div class="section">
            {% block main-content %}{% endblock %}
        </div>
        <br><br>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>

    {% block extra_js %}{% endblock %}

</body>

</html>