{% extends "restaurant/fragments/base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/restaurant-index.css' %}">
{% endblock extra_css %}
{% block main-content %}
    {% csrf_token %}
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn right red darken-1 add-btn"
               href="{% url 'restaurant:create' %}">
                <i class="material-icons left">add</i>Agregar nuevo plato
            </a>
        </div>
    </div>
    <!-- Filtros -->
    <div class="row">
        <div class="col s12">
            <div class="card-panel white-text filter-card">
                <h5>
                    <i class="material-icons">filter_list</i>Filtros de búsqueda
                </h5>
                <form method="get" id="filterForm">
                    <div class="row filter-row">
                        <div class="col s12 m4">
                            <div class="input-field filter-input filter-input-wrapper filter-input-no-margin">
                                <i class="material-icons prefix">search</i>
                                <input type="text"
                                       name="search"
                                       id="search"
                                       value="{{ search_query }}"
                                       placeholder="Buscar por nombre o descripción">
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="input-field filter-input filter-input-wrapper filter-input-no-margin">
                                <i class="material-icons prefix">category</i>
                                <select name="category" id="category" class="browser-default">
                                    <option value="">Todas las categorías</option>
                                    {% for cat in all_categories %}
                                        <option value="{{ cat.id }}"
                                                {% if category_filter == cat.id|stringformat:"s" %}selected{% endif %}>
                                            {{ cat.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="input-field filter-input filter-input-wrapper filter-input-no-margin">
                                <i class="material-icons prefix">label</i>
                                <select name="tag" id="tag" class="browser-default">
                                    <option value="">Todas las etiquetas</option>
                                    {% for tag in all_tags %}
                                        <option value="{{ tag.id }}"
                                                {% if tag_filter == tag.id|stringformat:"s" %}selected{% endif %}>
                                            {{ tag.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row filter-row-buttons">
                        <div class="col s12 center-align">
                            <button type="submit"
                                    class="waves-effect waves-light btn filter-btn white deep-purple-text">
                                <i class="material-icons left">search</i>Buscar
                            </button>
                            <a href="{% url 'restaurant:index' %}"
                               class="waves-effect waves-light btn filter-btn white deep-purple-text">
                                <i class="material-icons left">clear</i>Limpiar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if not categories and not uncategorized_dishes %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel pink lighten-1 white-text no-results">
                    <i class="material-icons">restaurant_menu</i>
                    <h4>No se encontraron platos</h4>
                    <p>
                        {% if search_query or category_filter or tag_filter %}
                            Intenta ajustar los filtros de búsqueda
                        {% else %}
                            No hay platos registrados actualmente
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        {% for category in categories %}
            {% if category.dishes.all %}
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel blue lighten-1 white-text category-header">
                            <h4>{{ category.name }}</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for dish in category.dishes.all %}
                        <div class="col s12 m6 l4">
                            <div class="card dish-card dish-card-clickable" data-href="{% url 'restaurant:detail' dish.id %}">
                                <div class="card-image dish-card-image">
                                    {% if dish.image %}
                                        <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
                                    {% else %}
                                        <div class="dish-card-image-placeholder grey lighten-2">
                                            <i class="material-icons grey-text text-darken-1">restaurant</i>
                                        </div>
                                    {% endif %}
                                    <span class="card-title dish-card-title">{{ dish.name }}</span>
                                    <a href="javascript:void(0);"
                                       class="btn-floating btn-small red darken-1 delete-dish-btn-floating delete-dish-btn waves-effect waves-light"
                                       data-dish-id="{{ dish.id }}"
                                       data-dish-name="{{ dish.name }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a href="{% url 'restaurant:update' dish.id %}"
                                       class="btn-floating btn-small orange darken-1 edit-dish-btn-floating waves-effect waves-light">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="dish-card-description grey-text text-darken-1">{{ dish.description|truncatewords:15 }}</p>
                                    <div class="dish-price-container">
                                        <span class="price-tag green white-text">
                                            {{ dish.price|currency }}
                                        </span>
                                    </div>
                                    {% if dish.tags.all %}
                                        <div class="dish-tags-container">
                                            {% for tag in dish.tags.all %}
                                                <span class="chip light-blue lighten-4 tag-chip">
                                                    <i class="material-icons tag-icon">label</i>
                                                    {{ tag.name }}
                                                </span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="dish-tags-container">
                                            <span class="chip transparent tag-chip">
                                                &nbsp;
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        {% if uncategorized_dishes %}
            <div class="row">
                <div class="col s12">
                    <div class="card-panel grey white-text category-header">
                        <h4>Sin Categoría</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for dish in uncategorized_dishes %}
                    <div class="col s12 m6 l4">
                        <div class="card dish-card dish-card-clickable" data-href="{% url 'restaurant:detail' dish.id %}">
                            <div class="card-image dish-card-image">
                                {% if dish.image %}
                                    <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
                                {% else %}
                                    <div class="dish-card-image-placeholder grey lighten-2">
                                        <i class="material-icons grey-text text-darken-1">restaurant</i>
                                    </div>
                                {% endif %}
                                <span class="card-title dish-card-title">{{ dish.name }}</span>
                                <a href="javascript:void(0);"
                                   class="btn-floating btn-small red darken-1 delete-dish-btn-floating delete-dish-btn waves-effect waves-light"
                                   data-dish-id="{{ dish.id }}"
                                   data-dish-name="{{ dish.name }}">
                                    <i class="material-icons">delete</i>
                                </a>
                                <a href="{% url 'restaurant:update' dish.id %}"
                                   class="btn-floating btn-small orange darken-1 edit-dish-btn-floating waves-effect waves-light">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="dish-card-description grey-text text-darken-1">{{ dish.description|truncatewords:15 }}</p>
                                <div class="dish-price-container">
                                    <span class="price-tag green white-text">{{ dish.price|currency }}</span>
                                </div>
                                {% if dish.tags.all %}
                                    <div class="dish-tags-container">
                                        {% for tag in dish.tags.all %}
                                            <span class="chip light-blue lighten-4 tag-chip">
                                                <i class="material-icons tag-icon">label</i>
                                                {{ tag.name }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="dish-tags-container">
                                        <span class="chip transparent tag-chip">
                                            &nbsp;
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    <!-- Modal de confirmación de eliminación de plato -->
    <div id="deleteDishModal" class="modal">
        <div class="modal-content">
            <h4 class="red-text">
                <i class="material-icons left">warning</i>Confirmar eliminación
            </h4>
            <p>
                ¿Estás seguro de que deseas eliminar el plato <strong id="dishNameToDelete"></strong>?
            </p>
            <p class="grey-text">Esta acción marcará el plato como eliminado.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
            <a href="javascript:void(0);"
               class="waves-effect waves-light btn red darken-1"
               id="confirmDeleteDishBtn">
                <i class="material-icons left">delete</i>Eliminar
            </a>
        </div>
    </div>
{% endblock main-content %}
{% block extra_js %}
                <script src="{% static 'js/restaurant-filters.js' %}"></script>
                <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize modals
        const modalElems = document.querySelectorAll('.modal');
        const instances = M.Modal.init(modalElems);

        let dishToDelete = null;
        const deleteDishModal = document.getElementById('deleteDishModal');
        const modal = M.Modal.getInstance(deleteDishModal);

        // Make dish cards clickable
        document.querySelectorAll('.dish-card-clickable').forEach(card => {
            card.addEventListener('click', function (e) {
                // Don't navigate if clicking on action buttons
                if (!e.target.closest('.delete-dish-btn') && 
                    !e.target.closest('.edit-dish-btn-floating') &&
                    !e.target.closest('.btn-floating')) {
                    window.location.href = this.dataset.href;
                }
            });
        });

        // Prevent edit button from triggering card click
        document.querySelectorAll('.edit-dish-btn-floating').forEach(btn => {
            btn.addEventListener('click', function (e) {
                e.stopPropagation();
            });
        });

        // Handle delete button clicks
        document.querySelectorAll('.delete-dish-btn').forEach(btn => {
            btn.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                dishToDelete = {
                    id: this.dataset.dishId,
                    name: this.dataset.dishName
                };

                document.getElementById('dishNameToDelete').textContent = dishToDelete.name;
                modal.open();
            });
        });

        // Handle confirm delete
        document.getElementById('confirmDeleteDishBtn').addEventListener('click', function () {
            if (!dishToDelete) return;

            // Get CSRF token
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            // Send DELETE request
            fetch(`/dishes/${dishToDelete.id}/delete/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    modal.close();

                    if (data.success) {
                        // Show success toast
                        M.toast({
                            html: '<i class="material-icons left">check_circle</i>' + data.message,
                            classes: 'green darken-1',
                            displayLength: 4000
                        });

                        // Remove the dish card from DOM
                        const dishCard = document.querySelector(`[data-dish-id="${dishToDelete.id}"]`).closest('.col');
                        if (dishCard) {
                            dishCard.style.opacity = '0';
                            setTimeout(() => dishCard.remove(), 300);
                        }
                    } else {
                        // Show error toast
                        M.toast({
                            html: '<i class="material-icons left">error</i>' + data.message,
                            classes: 'red darken-1',
                            displayLength: 5000
                        });
                    }

                    dishToDelete = null;
                })
                .catch(error => {
                    modal.close();
                    M.toast({
                        html: '<i class="material-icons left">error</i>Error al eliminar el plato',
                        classes: 'red darken-1',
                        displayLength: 5000
                    });
                    console.error('Error:', error);
                });
        });
    });

    // Display Django messages as Materialize toasts
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    M.toast({
        html: '<i class="material-icons left">error</i>{{ message|escapejs }}',
        classes: 'red darken-1',
        displayLength: 5000
    });
    {% elif message.tags == 'success' %}
    M.toast({
        html: '<i class="material-icons left">check_circle</i>{{ message|escapejs }}',
        classes: 'green darken-1',
        displayLength: 4000
    });
    {% elif message.tags == 'warning' %}
    M.toast({
        html: '<i class="material-icons left">warning</i>{{ message|escapejs }}',
        classes: 'orange darken-1',
        displayLength: 4000
    });
    {% else %}
    M.toast({
        html: '<i class="material-icons left">info</i>{{ message|escapejs }}',
        classes: 'blue darken-1',
        displayLength: 4000
    });
    {% endif %}
    {% endfor %}
    {% endif %}
                </script>
{% endblock extra_js %}
