{% extends 'restaurant/fragments/base.html' %}
{% load static %}
{% block main-content %}

<div class="center-align">
    <img src="{% static 'images/logo.png' %}" alt="Savoro Logo" style="width: 200px; margin-bottom: 20px;">
    <h4 class="light-blue-text text-darken-1">Bienvenido</h4>
</div>

<div class="row">
    <div class="col s8 offset-s2">

        {% if message %}
        <div class="card-panel red darken-1">
            <span class="white-text">
                {{ message }}
            </span>
        </div>
        {% endif %}

        {% include 'restaurant/fragments/forms.html' %}

    </div>
</div>
{% endblock %}